# ============================
#  Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# ============================
#  Django
# ============================

# SQLite database (agar postgres ishlatsangiz, baribir ignore qilamiz)
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/
static/

# Media (user yuklagan fayllar)
media/

# Django logs
*.log

# Django local settings
local_settings.py


# ============================
#  Environment
# ============================
.env
*.env
.env.*

# Environment variable files (docker, etc)
.env.dev
.env.prod
.env.local


# ============================
#  IDE & OS
# ============================

# VSCode
.vscode/
.history/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db


# ============================
#  Docker
# ============================
docker-compose.override.yml
docker-data/
*.pid


# ============================
#  Gunicorn
# ============================
gunicorn.log
gunicorn.pid


